<nav class="navbar">
  <div class="navbar-brand">
    <a href="#">2Hand</a>
  </div>
  <div class="navbar-links">
    <a href="#">Women</a>
    <a href="#">Men</a>
    <a href="#">Designer</a>
    <a href="#">Kids</a>
    <a href="#">Sports</a>
    <a href="#">About</a>
  </div>

  <!-- เพิ่มช่องค้นหาตรงนี้ -->
  <div class="navbar-search">
    <input type="text" placeholder="Search..." />
  </div>

 <div class="navbar-actions">
  <button class="signup-btn" [routerLink]="['/sign-up']">Sign Up</button>
  <button class="login-btn" [routerLink]="['/login']">Log In</button>
</div>

</nav>
