<nav class="navbar">
  <ul>
    <li><a routerLink="/home">Home</a></li>
    <li><a routerLink="/women">Women</a></li>
    <li><a routerLink="/men">Men</a></li>
    <li><a routerLink="/kids">Kids</a></li>
    <li><a routerLink="/sports">Sports</a></li>
    <li><a routerLink="/about">About</a></li>

    

    <!-- แสดงลิงก์เฉพาะ ADMIN -->
    <li *ngIf="(isAdmin$ | async)"><a routerLink="/admin-page">Admin Panel</a></li>

    <li *ngIf="(isLoggedIn$ | async); else guest">
      <span class="username">👤 {{ (username$ | async) || '' }}</span>
      <button (click)="signOut()">Sign Out</button>
    </li>
    <ng-template #guest>
      <a routerLink="/login">Log In</a>
      <a routerLink="/sign-up">Sign Up</a>
    </ng-template>
  </ul>
</nav>
